<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Good Commerce / Le Commerce à questions</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/auth.css">
        <link rel="author" href="humans.txt">
        
    </head>
    <body>
		<div class="content">
			<h1>Bienvenue sur Good Commerce</h1>
			<h2>Connectez vous</h2>
			<form id="auth_form" method="POST">
				<input type="text" name="login" id="loginBox" placeholder="Nom d'utilisateur">
				<input type="password" name="password" id="passwordBox" placeholder="Mot de passe">
				<input type="submit" value="Connexion">
			</form>

				<img src="img/fb.png" alt="connectez-vous avec Facebook" class="socialN"/>

		</div>
		
	</body>
</html>